.Red {
  background: red;
  color: white;
  width: 75px;
  height: 50px;
  margin-right: 5px;
  font-size: 1.5em;
}

.Yellow {
  background: yellow;
  color: white;
  width: 75px;
  height: 50px;
  margin-right: 5px;
  font-size: 1.3em;
}

.Blue {
  background: blue;
  color: white;
  width: 75px;
  height: 50px;
  margin-right: 5px;
  font-size: 1.5em;
}